{% extends "base.html" %}
{%block title%}Add location{%endblock%}
{%block header%}
	<div class="ui container">
		<a href="{{url_for('locations')}}" class="ui right floated blue button">All Locations</a>
		<h2>locations</h2>
	</div>
{%endblock%}
{%block body%}
<div class="ui container">
		<form method="POST" class="ui form">
			<div class="field">
				<label>Location Name</label>
				<input required type="text" name="location_name">
			</div>
			<button class="ui green button">Save</button>
		</form>
</div>
{%endblock%}
