{% extends "base.html" %}
{%block title%}Add Product{%endblock%}
{%block header%}
	<div class="ui container">
		<a href="{{url_for('products')}}" class="ui right floated blue button">All Products</a>
		<h2>Products</h2>
	</div>
{%endblock%}
{%block body%}
<div class="ui container">
		<form method="POST" class="ui form">
			<div class="field">
				<label>Product Name</label>
				<input required type="text" name="product_name">
			</div>
			<button class="ui green button">Save</button>
		</form>
</div>
{%endblock%}
