{% extends "base.html" %}
{%block title%}Products{%endblock%}
{%block header%}
<div class="ui container">
	<a href="{{url_for('products_add')}}" class="ui right floated button">Add +</a>
	<h2>Products</h2>
</div>
{%endblock%}
{%block body%}
<table class="ui single line table">
	<thead>
		<tr>
			<th class="fourteen wide">Product Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for id,name in products %}
		<tr>
			<td>{{name}}</td>
			<td><a href="{{url_for('products_edit',product_id=id)}}" class="ui blue button">Edit</a></td>
			<td><a href="{{url_for('products_view',product_id=id)}}" class="ui green button">View</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{%endblock%}